.diagram {
    background-color: #E2EBFF;
    border: 1px solid #497CF6;
    border-radius: 4px;
    height: 60%;

    &.nest-level-1, &.nest-level-4{
        border: 1px solid #FFA530;
        background: #FFF2E0;
    }
    &.nest-level-2, &.nest-level-3{
        background: #CFF0D6;
        border: 1px solid #2DB77B;
    }
    
}