.main-wrapper {
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px auto;
}

.main-title {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        color: #262842;
    }
}

.gantt__wrapper {
    width: 1390px;
    display: flex;
    overflow: hidden;
}

.gantt__charts__wrapper{
    overflow-x: auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(38, 40, 66, 0.12);
    box-shadow: inset -10px 0px 8px -6px rgba(16, 31, 43, 0.1)

}

.gantt__charts__dates {
    width: max-content;
    position: relative;
    display: flex;
    border-bottom: 1px solid rgba(38, 40, 66, 0.12);
    border-top: 1px solid rgba(38, 40, 66, 0.12);
    background: rgb(247, 248, 252);
    overflow: hidden;
    z-index: -1;
}

.gantt__charts__table {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    margin-left: -1px;
}

.gantt__charts__table__verticalLines {
    border-right: 1px solid rgba(38, 40, 66, 0.12);
    width: 100%;
    height: 100%;
}