.dates__week {
    box-sizing: border-box;
    flex-shrink: 0;
    p{
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #262842
    }
}

.dates__week__title {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(38, 40, 66, 0.12);
    border-right: 1px solid rgba(38, 40, 66, 0.12);
    height: 24px;
}

.dates__week__items {
    box-sizing: border-box;
    height: 24px;
    display: flex; 
    justify-content: space-around;

}

.dates__week__item {
    box-sizing: border-box;
    display: flex;
    width: 21px;
    border-right: 1px solid rgba(38, 40, 66, 0.12);
    justify-content: center;
    align-items: center;
    
    &:nth-last-child(-n+2) p{
        color: #A9A9B8;
    }
}