.work-tree{
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(38, 40, 66, 0.12);
}

.work-tree__title {
    width: 390px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: #F7F8FC;
    border-bottom: 1px solid rgba(38, 40, 66, 0.12);
    
    p{
        margin-left: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #6D6E85;
    }
}

.work-tree__items{
    height: 100%;
    background: white;
}