.work-tree__item{
    box-sizing: border-box;
    height: 40px;
    border-bottom: 1px solid rgba(38, 40, 66, 0.12);
    display: flex;
    align-items: center;

    img{
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    
    h2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #262842;
    }

    h3{
        margin-right: 8px;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 100;
        font-size: 12px;
        line-height: 16px;
        color: #8B8C9E;
    }
}

.work-tree__item__arrow {
    &.hide{
        transform: rotate(270deg);
    }
}